@charset "UTF-8";

/* This file contains all styles related of the site/application. */

/*-----------------------------------------------
1. Base
2. Layout
3. Module
4. Theme
-----------------------------------------------*/

/*-----------------------------------------------
1. Base
-----------------------------------------------*/
body {
  margin: 0 0 0 30px;
  padding: 0;
}
/*-----------------------------------------------
2. Layout
-----------------------------------------------*/

/*-----------------------------------------------
3. Module
-----------------------------------------------*/

/* Filter module
========================== */
.filter-bloc {
  display: flex;
  align-items: center;
}
.filter-bloc__p {
  margin-right: 20px;
}
.filter-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.filter-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
}
.filter-element:hover {
  background-color: #deebff;
  cursor: pointer;
}
.filter-element__icon {
  display: flex;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background-color: #deebff;
}
.filter-element__p {
  margin: 0 10px;
}

/* Bloc de recherche
 *
 *
========================== */
.search-bloc {
  display: flex;
  align-items: center;
  width: 20%;
  
  overflow: hidden;
  height: 35px;

  border: 1px solid #f2f2f2;
  border-radius: 15px;
}

.search-icon {
  display: flex;
  justify-content: center;
  width: 15%;
  height: 100%;

  background-color: #f2f2f2;
}

.svg-form {
  width: 10px;
  color: #000000;
}

.search-form {
  display: flex;
  width: 85%;
  height: 100%;
}

.search-form__place {
  padding-left: 10px;
  width: 60%;

  border: none;
}

.search-form__btn {
  width: 40%;

  border: none;

  background-color: #0065fc;
  
  color: #ffffff;
}

#btn:hover {
  cursor: pointer;
}
/*-----------------------------------------------
1. Theme
-----------------------------------------------*/