@charset "UTF-8";

/* This file contains all styles related of the site/application "Reservia". */

/*-----------------------------------------------
1. Font
2. Base
3. Layout
4. Typography
5. Module
   a. Responsive navigation module 
   b. Search module
   c. Filter module
   d. Information module
   e. grading module
   f. Thumbnail module "Accommodation"
   g. Thumbnail module "Popular"
   h. Thumbnail module "Activity"
-----------------------------------------------*/

/*-----------------------------------------------
1. Font
-----------------------------------------------*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/raleway-v19-latin-300.eot');
  src: local(''),
    url('../fonts/raleway-v19-latin-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-v19-latin-300.woff2') format('woff2'),
    url('../fonts/raleway-v19-latin-300.woff') format('woff'),
    url('../fonts/raleway-v19-latin-300.ttf') format('truetype'),
    url('../fonts/raleway-v19-latin-300.svg#Raleway') format('svg');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/raleway-v19-latin-regular.eot');
  src: local(''),
    url('../fonts/raleway-v19-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-v19-latin-regular.woff2') format('woff2'),
    url('../fonts/raleway-v19-latin-regular.woff') format('woff'),
    url('../fonts/raleway-v19-latin-regular.ttf') format('truetype'),
    url('../fonts/raleway-v19-latin-regular.svg#Raleway') format('svg');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/raleway-v19-latin-600.eot');
  src: local(''),
    url('../fonts/raleway-v19-latin-600.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-v19-latin-600.woff2') format('woff2'),
    url('../fonts/raleway-v19-latin-600.woff') format('woff'),
    url('../fonts/raleway-v19-latin-600.ttf') format('truetype'),
    url('../fonts/raleway-v19-latin-600.svg#Raleway') format('svg');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/raleway-v19-latin-700.eot');
  src: local(''),
    url('../fonts/raleway-v19-latin-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-v19-latin-700.woff2') format('woff2'),
    url('../fonts/raleway-v19-latin-700.woff') format('woff'),
    url('../fonts/raleway-v19-latin-700.ttf') format('truetype'),
    url('../fonts/raleway-v19-latin-700.svg#Raleway') format('svg');
}

/*-----------------------------------------------
2. Base
-----------------------------------------------*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
body,
figure {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/*-----------------------------------------------
3. Layout
-----------------------------------------------*/
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  max-width: 1920px;
}
.page {
  width: 1333px;
}
/* + break point 1366px */
@media screen and (max-width: 1366px) {
  .container,
  .page {
    width: 1114px;
  }
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .container,
  .page {
    width: 700px;
  }
}
/* * break point 768px */
@media screen and (max-width: 768px) {
  .container,
  .page {
    width: 100%;
  }
}
/* * break point 768px */
@media screen and (max-width: 768px) {
  .header__down {
    margin: 0 35px;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .header__down {
    margin: 0 20px;
  }
}
/* * Groups sections "Accommodation" and "Popular" */
.section-group {
  display: flex;
  margin-top: 20px;
}
/* + break point 1366px */
@media screen and (max-width: 1366px) {
  .section-group {
    flex-direction: column;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .section-group {
    flex-direction: column-reverse;
    margin: 0;
  }
}
.accommodation {
  padding: 18.5px;
  border-radius: 15px;
  background-color: #f2f2f2;
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .accommodation {
    background-color: #ffffff;
  }
}
.section-accommodation {
  display: flex;
  flex-direction: column;
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .section-accommodation {
    flex-direction: row; 
    justify-content: space-evenly;
  }
}
/* * break point 768px */
@media screen and (max-width: 768px) {
  .section-accommodation {
    justify-content: center;
  }
}/* ! break point 610px */
@media screen and (max-width: 610px) {
  .section-accommodation {
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
  }
}
.thumbnail {
  margin: 18.5px;
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .thumbnail {
    margin: 0;
  }
}
.section-accommodation__first-line,
.section-accommodation__second-line {
  display: flex;
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .section-accommodation__first-line,
  .section-accommodation__second-line {
    flex-direction: column; 
  }
}
.popular {
  margin-left: 37px;
  padding: 18.5px;
  border-radius: 15px;
  background-color: #f2f2f2;
}
/* + break point 1366px */
@media screen and (max-width: 1366px) {
  .popular {
    margin-left: 0;
    margin-top: 50px;  
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .popular {
   margin: 0;
   padding-bottom: 37px;  
  }
}
.section-popular {
  display: flex;
  flex-direction: column;
}
/* + break point 1366px */
@media screen and (max-width: 1366px) {
  .section-popular {
    flex-direction: row;
  }
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .section-popular {
    flex-direction: column; 
    align-items: center;
  }
}
.section-popular__header {
  display: flex; 
  align-items: baseline;
  justify-content: space-between; 
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .section-popular__header {
   width: 340px;
   margin: 20px auto 0 auto;
  }
}
/*  break point 374px */
@media screen and (max-width: 374px) {
  .section-popular__header {
    width: 280px;
  }
}
.fa-chart-line {
  margin-right: 18.5px;
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .fa-chart-line {
   margin: 0;
  }
}
.section-activity {
  margin-top: 50px;
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .section-activity {
   margin: 0;
  }
}
.bloc-activity {
  display: flex;
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .bloc-activity {
    flex-direction: column;
    align-items: center;
    padding-top: 37px;
    border-radius: 15px;
    background-color: #f2f2f2;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .bloc-activity {
    padding: 0;
    background-color: initial;
  }
}
.activity-group-of-three {
  display: flex;
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .activity-group-of-three {
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 37px;
  }
}
/* * break point 768px */
@media screen and (max-width: 768px) {
  .activity-group-of-three {
    justify-content: center;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .activity-group-of-three {
    flex-direction: column;
    align-items: center;
    margin: 0%;
  }
}
.activity-group-of-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 37px;
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .activity-group-of-two {
    padding: 0;
  }
}
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 230px;
  margin-top: 50px;
  background-color: #f2f2f2;
}
/* * break point 768px */
@media screen and (max-width: 768px) {
  .footer {
    height: 200px;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .footer {
    height: 470px;
  }
}
.footer-bloc {
  display: flex;
  width: 1333px;
}
/* + break point 1366px */
@media screen and (max-width: 1366px) {
  .footer-bloc {
    justify-content: space-between;
    width: 1114px;
  }
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .footer-bloc {
    justify-content: space-around;
    width: 100%; 
  }
}
/* * break point 768px */
@media screen and (max-width: 768px) {
  .footer-bloc {
    justify-content: space-between;
    padding: 0 20px;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .footer-bloc {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.footer-bloc__item {
  margin-right: 240px ;
}
/* + break point 1366px */
@media screen and (max-width: 1366px) {
  .footer-bloc__item {
    margin-right: 0;
  }
}
.footer-bloc__item ul {
  padding-left: 0;
}
.footer-bloc__item li {
  margin-bottom: 15px;
  list-style-type: none;
}
.footer-bloc__item h5 {
  margin-bottom: 25px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .footer-bloc__item h5 {
    margin-bottom: 0;
    margin-top: 30px;
  }
}
/* * break point 768px */
@media screen and (max-width: 768px) {
  .footer-bloc__item h5,
  .footer-bloc__item li {
    font-size: 13px;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .footer-bloc__item h5,
  .footer-bloc__item li {
    font-size: 15px;
  }
}
/*-----------------------------------------------
4. Typography
-----------------------------------------------*/
body,
input {
  font-family: 'Raleway', sans-serif;
} 
h1 {
  margin-bottom: 7px;
  font-size: 22px;
}
h2 {
  margin-top: 0;
  font-size: 16.5px;
  font-weight: 300;
}
.accommodation h3,
.popular h3 {
  margin: 15px 0 0 18.5px;
  font-size: 22px;
  font-weight: 600;
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .accommodation h3,
  .popular h3 {
    margin: 0;
  }
}
.section-activity__h3 {
  margin-bottom: 18.5px;
  font-size: 22px;
  font-weight: 600;
}
/* * break point 768px */
@media screen and (max-width: 768px) {
  .section-activity__h3 {
    margin-left: 37px;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .section-activity__h3 {
    margin: 0;
  }
}
h4 {
  font-weight: 600;
}
h5 {
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
}
section > p {
  margin: 30px 0 0 18.5px;
  font-size: 17px;
  font-weight: 600;
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  section > p {
    display: block;
    width: 340px;
    margin: 30px auto 0 auto;
  }
}
/*  break point 374px */
@media screen and (max-width: 374px) {
  section > p {
    width: 280px;
  }
}
.price {
  font-weight: 600;
}
.svg-color-blue {
  color: #0065fc;
}
.svg-color-grey {
  color: #d4d1d1;
}

/*-----------------------------------------------
5. Module
-----------------------------------------------*/
/* a. Responsive navigation module
========================== */
.nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 55px;
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .nav {
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-bottom: 35px;
  }
}
.logo {
  width: 100px;
  position: absolute;
  top: 40px;
}
/* * break point 768px */
@media screen and (max-width: 768px) {
  .logo {
    left: 35px;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .logo {
    left: 20px;
    top: 30px;
  }
}
.menu {
  display: flex;
  width: 300px;
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .menu {
    width: 100%;
    margin-top: 45px;
  }
}
.nav__link {
  padding-top: 40px;
}
.nav__link-a,
.nav__link-b {
  width: 50%;
  text-align: center;
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .nav__link-a,
  .nav__link-b {
    padding-top: 0;
    padding-bottom: 10px;
  }
}
.nav__link-c {
  margin-left: 17px;
  color: #0065fc;
  font-weight: 600;
}
/* * break point 768px */
@media screen and (max-width: 1165px) {
  .nav__link-c {
    margin-right: 35px;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .nav__link-c  {
    margin-right: 20px;
  }
}
.nav__link-a {
  border-top: 2px solid #0065fc;
  color: #0065fc;
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .nav__link-a {
    border-bottom: 2px solid #0065fc;
    border-top: none;
  }
}
.nav__link-b {
  border-top: 2px solid transparent;
  color: black;
}
.nav__link-b:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .nav__link-b {
    border-bottom: 2px solid #f2f2f2;
    color: black;
  }
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .nav__link-b:hover {
    border-bottom: 2px solid #0065fc;
    border-top: 2px solid transparent;
  }
}

/* b. Search module
========================== */
.search-bloc {
  display: flex;
  align-items: center;
  width: 418px;
  height: 50px;
  margin-top: 20px;
  overflow: hidden;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .search-bloc {
    margin-top: 35px;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .search-bloc {
    width: 335px;
    margin: 40px auto 0 auto;
  }
}
/*  break point 374px */
@media screen and (max-width: 374px) {
  .search-bloc {
    width: 280px;
  }
}
.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 100%;
  background-color: #f2f2f2;
}
.search-form {
  display: flex;
  height: 100%;
}
.search-form__place {
  width: 235px;
  padding-left: 20px;
  border: none;
  font-size: 15px;
  font-weight: 600;
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .search-form__place {
    width: 239px;
  }
}
/*  break point 374px */
@media screen and (max-width: 374px) {
  .search-form__place {
    width: 184px;
    
  }
}
.search-form__btn {
  width: 130px;
  border: none;
  background-color: #0065fc;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .search-form__btn {
    display: none;
  }
}
.search-form__btn:hover {
  font-size: 14px;
}
.search-form__icon {
  display: none;
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .search-form__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    border: none;
    border-radius: 10px;
    background-color: #0065fc;
    cursor: pointer;
  }
}

/* c. Filter module
========================== */
.filter-bloc {
  display: flex;
  align-items: center;
  margin-top: 25px;
  font-weight: 600;
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .filter-bloc {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
  }
}
.filter-bloc p {
  font-size: 18px;
}
.filter-bloc__p {
  margin-right: 35px;
}
.filter-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.filter-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 28px;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .filter-element {
    margin-bottom: 15px;
  }
}
.filter-element:hover {
  background-color: #deebff;
  cursor: pointer;
}
.filter-element__p {
  margin: 0 21px;
}
.filter-element__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color: #deebff;
}

/* .d Information module
========================== */
.information {
  display: flex;
  align-items: baseline;
  margin-top: 15px;
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .information {
    margin-top: 0;
  }
}
.information__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 1px solid #f2f2f2;
  border-radius: 50px;
}
.information__p {
  margin-left: 15px;
  font-size: 16px;
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .information__p {
    font-size: 15px;
  }
}

/* e. Grading module
========================== */
.star {
  display: flex;
}
.fa-star {
  margin-right: 2px;
}

/* f. Thumbnail module "Accommodation"
========================== */
.thumbnail-accommodation {
  width: 250px;
  height: 200px;
  overflow: hidden;
  box-shadow: 2px 2px 10px #d4d1d1;
  border: 5px solid transparent;
  border-radius: 15px; 
  background-color: #ffffff;
}
/* + break point 1366px */ 
@media screen and (max-width: 1366px) {
  .thumbnail-accommodation {
    width: 322px;
  }
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .thumbnail-accommodation {
    width: 250px;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .thumbnail-accommodation {
    width: 340px;
    margin-top: 20px;
  }
}
/*  break point 374px */
@media screen and (max-width: 374px) {
  .thumbnail-accommodation {
    width: 280px;
  }
}
.thumbnail-accommodation h4,
.thumbnail-accommodation p,
.thumbnail-accommodation div {
  margin: 8px 0 0 8px;
}
.thumbnail-accommodation__figure {
  display: flex;
  align-items: center;
  height: 112px;
  overflow: hidden;
}
.thumbnail-accommodation__figure img {
  max-width: 100%;
}

/* g. Thumbnail module "Popular"
========================== */
.thumbnail-popular {
  display: flex;
  width: 322px;
  height: 150px;
  overflow: hidden;
  box-shadow: 2px 2px 10px #d4d1d1;
  border: 5px solid transparent;
  border-radius: 15px;
  background-color: #ffffff;
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .thumbnail-popular {
    width: 565px;
  }
}
/* * break point 768px */
@media screen and (max-width: 768px) {
  .thumbnail-popular {
    width: 538px;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .thumbnail-popular {
    width: 340px;
    margin-top: 20px;
  }
}
/*  break point 374px */
@media screen and (max-width: 374px) {
  .thumbnail-popular {
    width: 280px;
  }
}
.thumbnail-popular__figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  overflow: hidden;
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .thumbnail-popular__figure {
    width: 170px;
  }
}
.right-side {
  display: flex;
  flex-direction:column;
  width: 197px;
  padding-left: 20px;
}
/* ? break point 1165px */
@media screen and (max-width: 1165px) {
  .right-side {
    align-items: center;
    justify-content: center;
    width: 350px;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .right-side {
    align-items: flex-start;
    justify-content: flex-start;
    width: 280px;
    padding-right: 10px;
  }
}
.right-side h4,
.right-side p {
  margin: 8px 0 0 0;
}
.right-side .star {
  margin-top: 45px;
}

/* g. Thumbnail module "Activity" 
========================== */
.thumbnail-activity {
  width: 305.5px;
  box-shadow: 2px 2px 10px #d4d1d1;
  overflow: hidden;
  border-radius: 15px;
}
.thumbnail-activity h4 {
  margin-left: 20px;
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .thumbnail-activity h4 {
    margin-top: 15px;
  }
}
.thumbnail-activity__figure {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.thumbnail-activity-type-a {
  height: 437px;
} 
/* * break point 768px */
@media screen and (max-width: 768px) {
  .thumbnail-activity-type-a {
    margin-right: 36px;
  }
}
.thumbnail-activity-type-a figure {
  height: 380px;
} 
.thumbnail-activity-type-b {
  height: 235px;
} 
.thumbnail-activity-type-b figure {
  height: 178px;
  align-items: center;
} 
.thumbnail-activity-type-c {
  height: 165px;
} 
.thumbnail-activity-type-c figure {
  height: 108px;
} 
.thumbnail-activity-type-d {
  height: 200px;
} 
.thumbnail-activity-type-d figure {
  height: 143px;
} 
#port {
  width: 655.5px;
  height: 437px;
}
#pomegues {
  width: 305.5px;
  height: 458px;
}
#frioul {
  width: 305.5px;
  height: 170px;
}
#calanques {
  width: 652.5px;
  height: 435px;
}
#garde {
  width: 305.5px;
  height: 200px;
}
#longchamp {
  width: 305.5px;
  height: 200px;
}
/* + break point 1366px */
@media screen and (max-width: 1366px) {
  .thumbnail-activity {
    width: 250.7px;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .thumbnail-activity {
    width: 340px;
    height: 200px;
    margin: 20px 0 0 0;
  }
}
/*  break point 374px */
@media screen and (max-width: 374px) {
  .thumbnail-activity {
    width: 280px;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  .thumbnail-activity figure {
    height: 150px;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  #port {
    width:340px;
    height: 227px;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  #frioul {
    width:340px;
    height: 189px;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  #calanques {
    width:340px;
    height: 227px;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  #garde {
    width:340px;
    height: 223px;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  #longchamp {
    width:340px;
    height: 223px;
  }
}
/* ! break point 610px */
@media screen and (max-width: 610px) {
  #pomegues {
    width:340px;
    height: 510px;
  }
}
/*-----------------------------------------------
END
-----------------------------------------------*/